@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* Cores principais */
  --color-primary: #2f201b; /* Marrom principal */
  --color-secondary: #452e26; /* Marrom secundário mais escuro */
  --color-accent: #e06638; /* Laranja como destaque */
  --color-light-accent: #c4a396; /* Bege claro para elementos secundários */

  /* Cores de fundo e superfície */
  --color-background: #211712; /* Fundo escuro (quase preto) */
  --color-surface: #ffffff; /* Branco puro para superfícies */
  --color-surface-variant: #c4a396; /* Variante mais clara para contrastes */
}